<div class="row">
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <p>stats</p>     
      </div>
    </div>

  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <p>feed</p>
      </div>
    </div>
    
  </div>
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <p>about</p> 
      </div>
    </div>
    
  </div>
</div>

<div class="row">
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <p>trends</p>     
      </div>
    </div>
  </div>
</div>