<div class="row">
  <div class="col col-lg-12">
    <div class="jumbotron">
      <%= @username %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <p>profile</p>     
      </div>
    </div>
  </div>

  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <p>tweets</p>
      </div>
    </div>
  </div>

  <div class="col-lg-3">
    <div class="card">
      <div class="card-body">
        <p>who to follow</p> 
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-lg-3 offset-lg-9">
    <div class="card">
      <div class="card-body">
        <p>trends</p> 
      </div>
    </div>
  </div>
</div>